<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <metsa name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome to gitPub</h1>
        <ul>
            <% for(let i=0; i < allDrinks.length; i++) { %>
                <% let capDrink = allDrinks[i].name[0].toUpperCase() %> 
                <li>
                    <a href="/drinks/<%=i%>"><%= capDrink + allDrinks[i].name.slice(1)%></a>
                </li> 
            <% } %> 
        </ul>

    </body>
</html>

<style>
    body {
        color: aqua;
        background-color: pink;
    }
</style>