<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <metsa name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>At foo bar</h1>
        <% let capFood = food.name[0].toUpperCase() + food.name.slice(1)%>
        <h2><%= capFood %></h2>
        <img src= <%= food.image+".jpg" %> alt="image of drink">
        <h3> <%= food.price %> </h3>
        <a href="/drinks">Back to drinks</a>
        <a href="/foods">Back to foods</a>        

    </body>
</html>

<style>
    body {
        color: aqua;
        background-color: pink;
    }
</style>